@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Overpass:wght@400;700&family=Poppins&family=Righteous&display=swap");
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  background-color: white;
  border-radius: 20px;
  margin-top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}
.container_image {
  margin-top: -110px;
}
.container_image img {
  display: block;
  margin: 0;
  padding: 0;
}

.container_image img:nth-child(2) {
  margin-top: -80px;
}
.container_header > h2 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
.container_questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.container_questions > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  color: hsl(240, 6%, 50%);
  border-bottom: 1px solid hsl(240, 5%, 91%);
}
